.signup-container {
    width: 320px;
    padding: 25px;
    background: linear-gradient(135deg, #213bad, #2a5298);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    color: white;
    text-align: center;
    justify-items: center;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}
form {
    width: 250px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 230px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    background-color: #f1f1f1;
    color: #333;
    justify-self: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Estilos de erro e sucesso */
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

.success {
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #4CAF50;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}