body {
  background: linear-gradient(to top, #000116, #2e5efa);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}